@import "../../../styles/variables.scss";
@import "../../../styles/breakpoints.scss";

.work {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 100px 0;
  position: relative;
  width: 100%;

  @include lg-max {
    display: block;
  }

  .pageHeading {
    position: fixed;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    margin-bottom: 50px;
    width: 35%;

    @include lg-max {
      position: relative;
      top: 0;
      left: 0;
      transform: translateY(0);
      width: 100%;
    }

    .pageTitle {
      color: $white;
      font-family: $title;
      font-size: 95px;
      line-height: 1;
      margin: 0;

      @include lg-max {
        font-size: 65px;
      }
    }

    .subtitle {
      color: $white;
      font-family: $title;
      font-size: 22px;
      font-weight: $light;
      line-height: 32px;
    }

    .actions {
      margin-top: 45px;

      @include sm-max {
        width: 100%;

        :global {
          a {
            width: 100%;
          }
        }
      }
    }
  }

  .workList {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 50%;

    @include lg-max {
      gap: 35px;
      margin: 0 -35px 0 0;
      width: 100%;
    }

    li {
      border-radius: 15px;
      width: 100%;

      @include lg-max {
        width: calc(50% - 35px);
      }
    }

    @include md-max {
      flex-direction: column;
      margin: 0;

      li {
        width: 100%;

        &:nth-child(odd) {
          position: relative;
          top: 0;
        }
      }
    }

    @include sm-max {
      margin-bottom: 0;
    }
  }
}

@keyframes popUpH2 {
  0% {
    top: 0
  }

  50% {
    top: -75px
  }

  75% {
    top: -20px
  }

  100% {
    top: -30px
  }
}


@keyframes popDownH2 {
  0% {
    top: -30px
  }

  45% {
    top: -90px
  }

  75% {
    top: 30px;
  }

  100% {
    top: 0
  }
}