@import "../../../styles/variables.scss";
@import "../../../styles/breakpoints.scss";

.button {
  border: 1.5px solid inherit;
  border-radius: 50px;
  display: inline-block;
  font-family: $title;
  font-size: 18px;
  line-height: 18px;
  font-weight: $bold;
  position: relative;
  padding: 15px 35px;
  text-align: center;
  transition: .25s ease;

  &:hover,
  &:focus {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.primary {
  border: 1.5px solid $aquamarine;
  background: rgba($aquamarine, .2);
  backdrop-filter: blur(5px);
  color: $aquamarine;
}

.secondary {
  border: 1.5px solid $malibu;
  background: rgba($mirage, .3);
  backdrop-filter: blur(5px);
  color: $malibu;
}