@import "../../../styles/variables.scss";
@import "../../../styles/breakpoints.scss";

.button {
  border: 1.5px solid $aquamarine;
  border-radius: 50px;
  display: inline-block;
  font-family: $title;
  font-size: 18px;
  line-height: 18px;
  font-weight: $bold;
  position: relative;
  padding: 15px 35px;
  text-align: center;
  transition: .25s ease;

  &:hover,
  &:focus {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.primary {
  background: $aquamarine;
  color: $mirage;

  &:hover,
  &:focus {}
}

.secondary {
  background: none;
  color: $aquamarine;

  &:hover,
  &:focus {}
}