@import "../../../styles/variables.scss";
@import "../../../styles/breakpoints.scss";

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 125px;
  width: 100%;

  @include md-max {
    padding: 0 50px;
  }

  @include sm-max {
    padding: 0 40px;
  }
}

.menu {
  background: $malibu;
  border-radius: 20px 0 0 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: 100%;
  width: 50%;
  height: 100%;
  z-index: -1;
  transition: 0.5s ease;

  &.open {
    left: 50%;
  }

  @include lg-max {
    border-radius: 0;
    width: 100%;

    &.open {
      left: 0;
    }
  }

  .nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;

    li {
      text-align: center;

      a {
        color: $mirage;
        font-family: $title;
        font-size: 55px;
        font-weight: 600;
        opacity: 0.5;
        padding: 15px 0;
        position: relative;
        transition: 0.5s ease;

        &:hover,
        &:focus {
          font-size: 85px;
          opacity: 1;
        }

        @include md-max {
          font-size: 45px;
          display: inline-block;
          opacity: 1;
          padding: 15px 0;

          &:hover,
          &:focus {
            font-size: 45px;
            opacity: 1;
          }
        }
      }
    }
  }
}