@import "../../../styles/variables.scss";
@import "../../../styles/breakpoints.scss";

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 50px 100px 0;
  position: relative;
  width: 100%;

  .endRef {
    height: 3px;
    width: 100%;
    background: black;
    position: absolute;
    bottom: 0;
  }

  &.inView {
  }

  .rip {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 150%;
    z-index: 1;

    svg {
      width: 120%;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 5;
  }

  .content {
    font-size: 24px;
    font-weight: 100;
    line-height: 43px;
    opacity: 0;
    padding-top: 100px;
    position: relative;
    top: 50px;
    transition: 0.5s ease;
    transition-delay: 0s;
    width: 300px;

    &.inView {
      opacity: 1;
      top: 0;
      transition: 1s ease;
      transition-delay: 0.5s;
    }
  }

  .images {
    position: relative;
    top: -125px;
    transform: rotate(-10deg);
    transition: 1s;
    transition-delay: 0s;
    width: 55%;
    min-height: 750px;

    .img {
      border-radius: 30px;
      filter: grayscale(75%);
      margin: 0;
      overflow: hidden;
      padding: 0;
      position: absolute;
      top: 0;
      left: 0;
      transform: rotate(-5deg);
      width: 450px;
      height: 674px;
      // width: 700px;
      // height: 1048px;
      transition: 1.5s ease;

      &:nth-child(2) {
        top: 0;
        left: 0;
        z-index: 2;
      }

      &:last-child {
        top: 0;
        left: 0;
        z-index: 3;
      }

      &:hover {
        filter: grayscale(0%);
        transition: 1s ease;
      }
    }

    &.inView {
      transition: 1.5s ease;
      transform: rotate(0deg);
      top: -75px;

      .img {
        &:nth-child(2) {
          top: 75px;
          left: 95px;
          transform: rotate(3deg);
        }

        &:last-child {
          top: 175px;
          left: 175px;
          transform: rotate(10deg);
        }
      }
    }

    &:hover {
      cursor: url(https://res.cloudinary.com/austinmel/image/upload/v1669893923/my%20site/view-cursor.svg)
          15 15,
        auto;
    }

    &.open {
      display: flex;

      .img {
        &:first-child {
          top: 50px;
          left: -600px;
          transform: rotate(-10deg);
        }

        &:nth-child(2) {
          top: -20px;
          left: -150px;
          transform: rotate(-3deg);
          z-index: 2;
        }

        &:last-child {
          top: 50px;
          left: 275px;
          transform: rotate(12deg);
          z-index: 3;
        }
      }

      &:hover {
        cursor: url(https://res.cloudinary.com/austinmel/image/upload/v1669894077/my%20site/close-cursor.svg)
            15 15,
          auto;
      }
    }
  }
}
