@import "../../../styles/variables.scss";
@import "../../../styles/breakpoints.scss";

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 50px;
  padding-bottom: 0;
  position: relative;
  transition: 0.5s ease;
  width: 100%;

  .homeRef {
    background: transparent;
    position: absolute;
    top: 0;
    width: 100%;
    height: 1px;
  }

  .intro {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    transition: 1.5s ease;

    .content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 999;
    }

    span {
      color: $white;
      display: inline-block;
      font-size: 47px;
      opacity: 0;
      padding-right: 15px;
      position: relative;
      top: 50px;
      transition: 1s ease;

      &:first-child {
        transition-delay: 0.5s;
      }

      &:nth-child(2) {
        transition-delay: 0.75s;
      }

      &:last-child {
        color: $sunrise;
        font-family: $title;
        font-size: 57px;
        padding-right: 0;
        transition-delay: 1s;
      }
    }

    .dark {
      background: darken($forest, 15%);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 99;
    }

    .mid {
      background: $sunrise;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100%;
      // transition: 1s ease-in-out;
      z-index: 99;
    }

    .light {
      background: $white;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 999;
      // transition: 1s ease-in-out;
    }

    &.loaded {
      // opacity: 0;
      height: 0;
      transition-delay: 3s;

      span {
        opacity: 1;
        top: 0;
      }

      .mid {
        animation: bgRise 1.3s linear 2s forwards;
      }

      .light {
        animation: bgRise2 1.3s linear 2.15s forwards;
      }
    }
  }

  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .title {
    color: $forest;
    font-family: $copy;
    font-size: 185px;
    font-weight: 300;
    line-height: 195px;
    margin-bottom: 75px;
    width: 100%;

    span {
      display: block;
      opacity: 0;
      padding-bottom: 0;
      position: relative;
      top: 100px;
      transition: 1s ease;

      &:last-child {
        text-align: right;
      }
    }

    strong {
      color: $sunrise;
      font-family: $title;
      font-weight: 100;
      display: inline-block;
      position: relative;
      left: -5px;
      transform: scale(1.03), rotate(-1deg);
    }

    .spacer {
      display: block;
      // height: 0;
    }
  }

  .roles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 65%;
    transition: 1s ease;

    span {
      color: $forest;
      font-family: $copy;
      font-size: 13px;
      font-weight: 300;
      line-height: 18px;
      text-transform: uppercase;
      opacity: 0.5;
    }
  }

  &.isInView {
    .roles {
      opacity: 1;
      top: 37%;
      transition-delay: 5s;
    }

    .title {
      span {
        opacity: 1;
        top: 0;

        &:first-child {
          transition-delay: 3.5s;
        }

        &:last-child {
          transition-delay: 3.75s;
        }
      }
    }
  }

  @include vp-max(1300) {
    .roles {
      left: 80%;
    }
  }

  @include vp-max(1140) {
    .title {
      font-size: 155px;
      line-height: 165px;
    }

    .roles {
      left: 75%;
    }
  }

  @include lg-max {
    min-height: 0;

    .title {
      font-weight: 400;
      span {
        &:last-child {
          text-align: left;
        }
      }
    }

    .roles {
      display: none;
    }
  }

  @include vp-max(900) {
    align-items: flex-start;
    padding-top: 100px;

    .title {
      font-size: 115px;
      line-height: 125px;

      .spacer {
        display: none;
      }
    }
  }

  @include md-max {
    padding: 100px 0 0;

    .intro {
      left: -30px;
      width: calc(100vw + 60px);

      span {
        font-size: 22px;

        &:last-child {
          font-size: 28px;
          padding-right: 18px;
        }
      }
    }

    .title {
      font-size: 95px;
      line-height: 105px;
    }
  }

  @include sm-max {
    padding-top: 100px;

    .title {
      font-size: 65px;
      line-height: 75px;
      margin-bottom: 25px;
    }

    .inner {
      flex-direction: column;
      align-items: flex-start;
    }

    .roles {
      display: flex;
      padding-top: 100px;
      padding-bottom: 25px;
      position: relative;
      top: 0;
      left: 0;
    }
  }
}

@keyframes bgRise {
  0% {
    top: 100%;
  }

  35% {
    top: 100px;
  }

  100% {
    top: 0;
  }
}

@keyframes bgRise2 {
  0% {
    top: 100%;
  }

  40% {
    top: 120px;
  }

  100% {
    top: 0;
  }
}
