@use "../../../styles/variables.scss";
@use "../../../styles/breakpoints.scss";

.blog {
  padding: 100px 0;

  .pageHeading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 50px;
    width: 100%;

    @include breakpoints.lg-max {
      position: relative;
      top: 0;
      left: 0;
      transform: translateY(0);
      width: 100%;
    }

    .pageTitle {
      color: variables.$white;
      font-family: variables.$title;
      font-size: 95px;
      line-height: 1;
      margin: 0;

      @include breakpoints.lg-max {
        font-size: 65px;
      }
    }

    .subtitle {
      color: variables.$white;
      font-family: variables.$title;
      font-size: 18px;
      font-weight: variables.$light;
      line-height: 32px;
    }

    .actions {
      margin-top: 30px;

      @include breakpoints.lg-max {
        display: none;
      }

      @include breakpoints.sm-max {
        width: 100%;

        a {
          width: 100%;
        }
      }
    }
  }

  .blogList {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 35px;
    width: 100%;

    @include breakpoints.sm-max {
      flex-direction: column;
    }
  }
}