@import "../../../styles/variables.scss";
@import "../../../styles/breakpoints.scss";

.header {
  padding: 0 50px;
  position: fixed;
  top: 50px;
  width: 100%;
  z-index: 99;

  @include md-max {
    padding: 0 40px;
  }

  .logo {
    width: 50px;
    opacity: .5;
    transition: .25s ease;

    :global {
      svg {
        fill: lighten($mirage, 40%);
      }
    }


    &:hover,
    &:focus {
      opacity: 1;

      :global {
        svg {
          fill: $aquamarine;
        }
      }
    }

    @include lg-max {
      opacity: 0;
      visibility: hidden;
    }
  }

  .menuToggle {
    position: fixed;
    top: 60px;
    right: 30px;
    transform: rotate(-90deg);

    @include lg-max {
      right: 15px;
      top: auto;
      bottom: 30px;
    }
  }

  .socialMenu {
    bottom: 60px;
    left: 50px;
    position: fixed;

    @include lg-max {
      display: none;
    }

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        margin: 5px 0;

        a {
          opacity: .5;
          transition: .25s ease;

          svg {
            fill: lighten($mirage, 40%);
            width: 25px;
            height: auto;
          }

          &:hover,
          &:focus {
            opacity: 1;

            svg {
              fill: $malibu;
            }
          }
        }

        &:last-child {
          a {
            svg {
              width: 30px;
            }
          }
        }
      }
    }
  }
}