@import "../../../styles/variables.scss";
@import "../../../styles/breakpoints.scss";

.header {
  padding: 0 50px;
  position: fixed;
  top: 50px;
  width: 100%;
  z-index: 99;

  @include md-max {
    padding: 0 40px;
  }

  .logo {
    position: fixed;
    top: 50px;
    left: 40px;
    width: 60px;
    opacity: .5;
    transition: .25s ease;

    :global {
      svg {
        fill: lighten($mirage, 40%);
      }
    }


    &:hover,
    &:focus {
      opacity: 1;

      :global {
        svg {
          fill: $mustard;
        }
      }
    }

    @include lg-max {
      opacity: 0;
      visibility: hidden;
    }
  }

  .social {
    position: fixed;
    bottom: 50px;
    left: 50px;

    @include lg-max {
      display: none;
    }
  }

  .menuToggle {
    position: fixed;
    top: 70px;
    right: 30px;

    @include lg-max {
      right: 15px;
    }
  }
}