@import "../../../styles/variables.scss";
@import "../../../styles/breakpoints.scss";

.wrapper {
  border-radius: 45px;
  // filter: grayscale(75%);
  margin: 75px 0;
  width: 50vw;
  position: relative;
  transition: 1s ease;
  z-index: 5;

  &.smaller {
    width: 30vw;
  }

  @include xl-max {
    margin: 0;
    width: calc(50% - 130px);

    &.smaller {
      width: calc(50% - 130px);
    }
  }

  @include lg-max {
    border-radius: 0;
    margin: 15px 0;
    width: 100%;

    &.smaller {
      width: 100%;
    }
  }
}

.workItem {
  border-radius: 45px;
  overflow: hidden;
  position: relative;
  transform: scale(1) rotate(0deg);
  transition: 0.5s ease;

  .content {
    color: $white;
    padding: 30px;
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 100%;

    h2 {
      background: $white;
      border-radius: 100px;
      color: $mirage;
      display: inline-block;
      font-family: $copy;
      font-size: 32px;
      font-weight: 100;
      line-height: 55px;
      margin: 15px 0 0;
      padding: 8px 30px 12px;
      position: relative;
    }

    .tags {
      display: flex;
      align-items: flex-start;
      flex-direction: column-reverse;
      gap: 8px;
      margin: 25px 0 0;

      span {
        background: $white;
        border-radius: 100px;
        display: inline-block;
        color: $mirage;
        font-size: 14px;
        font-weight: 200;
        opacity: 0;
        padding: 4px 15px;
        transition: 0.5s ease-in-out;
      }
    }
  }

  &:hover,
  &:focus {
    cursor: pointer;
    transform: scale(1.05) rotate(1deg);

    .workItem {
      &:after {
        opacity: 1;
      }
    }

    .content {
      .tags {
        span {
          opacity: 1;

          &:nth-child(2) {
            transition-delay: 0.05s;
          }

          &:nth-child(3) {
            transition-delay: 0.1s;
          }

          &:nth-child(4) {
            transition-delay: 0.15s;
          }

          &:nth-child(5) {
            transition-delay: 0.2s;
          }

          &:nth-child(6) {
            transition-delay: 0.25s;
          }
        }
      }
    }
  }

  @include lg-max {
    border-radius: 0px;

    .content {
      padding: 20px;

      h2 {
        font-size: 24px;
        line-height: 38px;
      }

      .tags {
        display: none;
      }
    }

    &:hover,
    &:focus {
      cursor: pointer;
      transform: scale(1) rotate(0deg);
    }
  }
}
