@import "../../../styles/variables.scss";
@import "../../../styles/breakpoints.scss";

.footer {
  overflow: hidden;
  padding-top: 0;
  position: relative;

  &:after {
    background: darken($forest, 15%);
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 150%;
    height: 100%;
    z-index: -1;
  }

  .topRef {
    position: absolute;
    top: 1px;
    height: 1px;
  }

  .bottomRef {
    position: absolute;
    bottom: 1px;
    height: 1px;
  }

  .inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding: 100px 50px 50px;
    position: relative;
    width: 100%;
    height: 100vh;

    .moon {
      opacity: 0.6;
      position: relative;
      top: 0;
      left: 0;
      transform: translateY(0);
      transition: 1s ease-out;
      width: 100%;
      z-index: 1;

      svg {
        position: absolute;
        top: 0;
        left: 50%;
        width: 75%;
        height: auto;
        transform: translate(-50%, 110%);
      }
    }

    .arrow {
      position: absolute;
      top: 100px;
      left: 0;

      svg {
        width: 75px;
        height: 75px;
        transform: rotate(-90deg);

        path {
          stroke: $white;
        }
      }
    }

    .title {
      color: $white;
      font-size: 45px;
      font-weight: 300;
      line-height: 67px;
      text-align: center;
      width: 500px;
    }

    .actions {
      flex: 1;
      display: flex;
      gap: 75px;
      align-items: center;
      position: relative;
      width: 100%;
      z-index: 2;

      button {
        width: 100%;
      }
    }

    .copyright {
      color: $white;
      display: flex;
      font-weight: 100;
      justify-content: space-between;
      opacity: 0.5;
      padding-top: 100px;
      width: 100%;
    }
  }

  @include md-max {
    .inner {
      padding: 100px 0 50px;
      gap: 35px;

      .moon {
        opacity: 0.8;
        width: 100%;

        svg {
          width: 100%;
          height: auto;
          transform: translate(-50%, -40%);
        }
      }

      .arrow {
        display: none;
      }

      .title {
        font-size: 35px;
        font-weight: 100;
        line-height: 47px;
        width: 400px;
      }

      .actions {
        flex-direction: column;
        gap: 20px;
      }

      .copyright {
        flex-direction: column;
        gap: 15px;
        text-align: center;
        padding-top: 65px;

        span {
          &:first-child {
            display: none;
          }
        }
      }
    }
  }

  @include sm-max {
    &:after {
      background: darken($forest, 20%);
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 150%;
      height: 100%;
      z-index: -1;
    }

    .inner {
      padding: 50px 0;

      .title {
        width: 100%;
      }
    }
  }
}
