// Fonts
$title: 'Ubuntu', 'Healvetica', sans-serif;
$copy: 'Raleway', 'Helvetica', sans-serif;

$bold: 700;
$regular: 400;
$light: 300;

// Colors

$white: #f9f9f9;
// $mirage: #171626;
$mirage: #191321;
// $froly: #FF8291;
$froly: #e63f47;
// $aquamarine: #69FAAC;
$aquamarine: #01ae5a;
$malibu: #92E6F8;
// $mustard: #FFDB4C;
$mustard: #ffd52e;

// Placeholder Text

// @mixin placeholder($color:$placeholder) {
//   ::-webkit-input-placeholder {
//       color: $color;
//   }

//   :-moz-placeholder {
//       color: $color;
//   }

//   ::-moz-placeholder {
//       color: $color;
//   }

//   :-ms-input-placeholder {
//       color: $color;
//   }
// }

// simple (no scale)
// p { @include font-size(15px); }

// fluid scale based on default bounding (recommended)
// p { @include font-size(16px, 24px); }

// fluid scale based on custom bounding
// p { @include font-size(16px, 24px, 320px, 960px); }


$min_width: 375px !default;
$max_width: 1600px !default;

@mixin font-size($min, $max: null, $lock-min: $min_width, $lock-max: $max_width) {
  & {
    font-size: $min;
  }

  @if $max {
    @media (min-width: $lock-min) {
      & {
        font-size: calc(#{$min} + #{num($max) - num($min)} * (100vw - #{$lock-min}) / #{num($lock-max) - num($lock-min)});
      }
    }

    @media (min-width: $lock-max) {
      & {
        font-size: $max;
      }
    }
  }
}